html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    
    background-image: url('/img/b862cc02-d17b-47cb-a63d-b16fb7ebb665.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    transition: background-image 1s ease; 
}

.login{

    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 3%;

    
}

.login form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 5%;
    font-size: 20px;
    color: #ca671b;
    align-items: center;

}

.login form h2{
    
    text-align: center;
    margin: 10px;
    color: #693f69;

}


.login h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 38px;
}
.login input[type="email"],
.login input[type="password"]{
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent; 
    outline: none; 
}
.login input[type="email"]::placeholder,
.login input[type="password"]::placeholder,
.login label,
.login a{

    color: #7a320e; 
    font-size: 15px;
}
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-bottom: 1px solid #3eef5b; 
}

.login .password-line{

    margin: 5px;
    display: flex;
    width: 60%;
    padding: 10px;
    justify-content: space-between;

}

.login a{

    color: black;
    margin-top: 3px;
    text-decoration: none;

}

.login input[type="submit"]{
    margin: 5px;
    width: 60%;
    padding: 6px;
    border-radius: 18px;
    border: 1px solid black;
}


.login .register-line{
    margin: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 10px;
  

}

.login .register-line p,
.login .register-line a{
     
    color: #4b1e08; 
    margin: 0px
}

.login .register-line a{
     
    margin-left: 5px;
    color: #8c54e0;
}



@media screen and (max-width: 768px) {
  
    .login form {
        width: 80%; 
    }

    .login input[type="email"],
    .login input[type="password"],
    .login input[type="submit"],
    .login .register-line {
        width: 100%;
    }

    .login .password-line {
        width: 100%;

    }
}

/* //////////////////////FAZNEDO O BOTÃO///////////////////////*/ 
.toggle {
    font-size: 2rem; 
    border: .125em solid currentColor;
    border-radius: 2em;
    cursor: pointer;
    display: block;
    height: 2em;
    position: relative;
    width: 4em;

  }
.toggle span {
    background-color: currentColor;
    border-radius: 2em;
    display: block;
    height: 1.5em;
    left: .25em;
    overflow: hidden;
    position: absolute;
    top: .25em;
    text-indent: -9999px;
    transition: left .25s;
    width: 1.5em;
    z-index: 2;
  }
  
.toggle::before,
.toggle::after {
    content: '';
    display: block;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
}
  
 .toggle::before {
    box-shadow: .25em .25em #5901d8;
    height: 1.125em;
    right: .9em;
    top: .125em;
    width: 1.125em;
}
  
.toggle::after {
    background-color: #ffc409;
    height: .625em;
    outline: .25em dotted #ffc409;
    outline-offset: .125em;
    left: .7em;
    top: .7em;
    width: .625em;
}
  
input:checked ~ .toggle span {
    left: 2em;
}
    
.sr-only {
    position: absolute;
    left: -9999px;
    opacity: 0;
 }

#darkmode-toggle:checked + .toggle{

    background-color: #100f0f;

}

.login #darkmode-toggle label{

    color: black;

}
/* MUDANDO O FUNDO */


